# GCP Configurations
GCP_PROJECT_ID=
GCP_REGION=us-central1
GCP_ZONE=us-central1-a
GCS_BUCKET_NAME=
GKE_CLUSTER_NAME=url-shortener-gke

# Docker Registry Configuration
# Note: Once Terraform provisions the Artifact Registry, we will update this to the GAR URL.
DOCKER_REGISTRY=
DOCKER_USERNAME=
DOCKER_PASSWORD=

# GitHub Configuration
GITHUB_TOKEN=
